/*
 |---------------------------------------------------------------------------------------
 | DEFAULT VARIABLES
 |---------------------------------------------------------------------------------------
 */

// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;




/*
 |---------------------------------------------------------------------------------------
 | CUSTOM VARIABLES
 |---------------------------------------------------------------------------------------
 */




/*
 |--------
 | COLORS
 |--------
 */

// text
$invalidColor: red;
$linkHoverColor: rgb(186, 85, 53);
$textColor: white;
$textShadow: 0px 4px 3px rgba(186, 85, 53, 0.2),
             0px 8px 13px rgba(186, 85, 53, 0.1),
             0px 18px 23px rgba(186, 85, 53, 0.1);
$validColor: green;

// buttons
$buttonColor: rgba(206, 105, 73, 1);

// background
$darkBackgroundDark: rgba(0, 0, 0, 0.8);
$darkBackgroundLight: rgba(0, 0, 0, 0.3);
$darkBackgroundMedium: rgba(0, 0, 0, 0.5);




/*
 |---------
 | GENERAL
 |---------
 */
$background: url(https://images.unsplash.com/photo-1485160497022-3e09382fb310?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
$font: Lato;




/*
 |--------
 | NAVBAR 
 |--------
 */
$brandPaddingLeft: 30px;
$boxShadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
$imgRadius: 10%;
$imgSize: 55px;
$topMargin: -22px;




/*
 |-----------------
 | COLLAPSE BUTTON 
 |-----------------
 */
$buttonMargin: 10px;
$buttonPosition: fixed;
$buttonPositionNum: 0;
$smallButtonPadding: 13px;




/*
 |--------
 | FOOTER 
 |--------
 */
$footerBorderRadius: 25px;
$footerMargin: 0 80px;
$footerPadding: 10px;
$tdSpacing: 3px;




/*
 |-------
 | LEGAL 
 |-------
 */
$titlePadding: 2%;




/*
 |---------
 | CONTACT 
 |---------
*/
$contactBorderRadius: 5px;
$contactIsize: 1.6rem;
$contactTitleHorPadding: 8px;
$contactTitleTopMargin: 20px;
$contactTitleVertPadding: 4px;
