/*
 |--------------
 | CONTACT FORM
 |--------------
 */
#contactForm {
    color: $textColor;
}
#contactForm .formHeader {
    margin: 0;
    padding-bottom: 20px;
}
#contactForm .formIcon {
    background: $darkBackgroundMedium;
    border-radius: $contactBorderRadius;
    display: block;
    margin-bottom: 0;
    margin-top: $contactTitleTopMargin;
    padding-bottom: $contactTitleVertPadding;
    padding-left: $contactTitleHorPadding;
    padding-top: $contactTitleVertPadding;
    text-align: left;
    text-shadow: $textShadow;
    width: 100%;
}
#contactForm .formIcon i {
    font-size: $contactIsize;
    padding-right: $contactTitleHorPadding;
}
#contactForm .formField,
#contactForm .formField select {
    background: 0;
    border: 0;
    border-radius: $contactBorderRadius;
    color: $textColor;
    outline: none;
    padding-left: 4px;
}
#contactForm .formField:hover,
#contactForm .formField:focus {
    background: $darkBackgroundDark;
}
#contactForm .formError,
#contactForm .formReaction,
#contactForm #firstName,
#contactForm #lastName,
#contactForm #comment,
#contactForm #phone,
#contactForm #email,
#contactForm #subject {
    padding-left: $contactTitleHorPadding;
}
#contactForm #firstName,
#contactForm #lastName,
#contactForm #title,
#contactForm #phone,
#contactForm #email,
#contactForm #subject {
    height: 30px;
}
#contactForm #phone,
#contactForm #email,
#contactForm #subject,
#contactForm #title,
#contactForm #firstName,
#contactForm #lastName,
#contactForm #comment {
    width: 100%;
}
#contactForm #comment {
    margin-bottom: 0;
    resize: none;
}
#contactForm .formButton {
    background: $darkBackgroundDark;
    border: 0;
    border-radius: $contactBorderRadius;
    outline: none;
    padding: $contactTitleHorPadding;
    width: 100%;
}
#contactForm .formButton:hover {
    background: $darkBackgroundLight;
}
#contactForm input:focus:invalid,
#contactForm textarea:focus:invalid,
.formError {
    color: $invalidColor;
}
#contactForm input:focus:valid,
#contactForm textarea:focus:valid,
.formReaction {
    color: $validColor;
}




/*
 |---------------------
 | CONTACT INFORMATION
 |---------------------
 */
#contactInfo,
#contactInfo a {
    color: $textColor;
}
#contactInfo a:hover {
    color:$linkHoverColor;
    text-decoration: none;
}
#contactInfo .infoHeader {
    background: $darkBackgroundMedium;
    border-radius: $contactBorderRadius;
    display: block;
    height: 29px;
    margin-bottom: 0;
    margin-top: $contactTitleTopMargin;
    padding-bottom: $contactTitleVertPadding;
    padding-left: $contactTitleHorPadding;
    padding-top: $contactTitleVertPadding;
    text-align: left;
    text-shadow: $textShadow;
    width: 100%;
}
#contactInfo .infoHeader i {
    font-size: $contactIsize;
    padding-right: $contactTitleHorPadding;
}
#contactInfo #formIcons li {
    display: block;
    float: right;
    font-size: $contactIsize;
    margin-top: -21px;
    padding-bottom: 0;
    text-align: right;
}
@media only screen and (max-width:440px) {
    #contactInfo #formIcons li {
        display: inline;
        float: inline-start;
        margin-top: 0px;
        text-align: left;
    }
}
#contactInfo .infoBody td,
#contactInfo .infoBody summary {
    padding-left: 10px;
}
#contactInfo .infoBody summary {
    border-radius: $contactBorderRadius;
}
#contactInfo .infoBody table {
    border: 0;
}
#contactInfo .infoBody td {
    border: 0;
    padding-right: $contactTitleHorPadding;
}
#contactInfo .infoBody td {
    width: 500px;
}
#contactInfo .infoBody .lastrow {
    border-bottom-right-radius: $contactBorderRadius;
    border-top-right-radius: $contactBorderRadius;
    width: 90000px;
}
#contactInfo .infoBody .firstrow {
    border-bottom-left-radius: $contactBorderRadius;
    border-top-left-radius: $contactBorderRadius;
}
#contactInfo .infoBody tr:hover,
#contactInfo .infoBody summary:hover {
    background: $darkBackgroundDark;

}
#contactInfo .infoBody pre {
    background: $darkBackgroundMedium;
    border: 0;
    border-radius: $contactBorderRadius;
    color: $textColor;
}

/* PGP Expanding text */
#PGP * {
    outline: 0;
}
#PGP .pgpExpand {
    margin-left: $contactTitleTopMargin;
}
#PGP summary:hover {
    color: $linkHoverColor;
    cursor: pointer;
}




