/* FOOTER
 *********/
#kpFooter * {
    border: 0;
    box-shadow: unset;
}
#kpFooter .container-fullwidth {
    margin: 0 80px;
}
@media only screen and (max-width:767px) {
    #kpFooter #contactHours,
    #kpFooter #copyright {
       margin-top: 20px;
    }
}
@media only screen and (min-width:768px) {
    #kpFooter #kpFooterContainer .col-sm-4 {
        width: 30.33333333%;
    }
}
@media only screen and (max-width:780px) {
    #kpFooter .container-fullwidth {
        margin: 0 70px 0 10px;
    }
}
#kpFooter .navbar-inverse .navbar-collapse {
    background: rgba(255, 255, 255, 1);
    border-radius: 25px;
    overflow-x: hidden;
    max-height: 100%;
    padding: 10px;
    margin: 0;
}
#kpFooter {
    color: rgba(220, 150, 100, 1);
    text-shadow: 0px 4px 3px rgba(255, 190, 140, 0.1),
                 0px 8px 13px rgba(255, 190, 140, 0.05),
                 0px 18px 23px rgba(255, 190, 140, 0.05);
}
#kpFooter a {
    color: rgba(220, 150, 100, 1);
}
#kpFooter a:hover,
#kpFooter a:focus {
    color: rgba(140, 60, 25, 1);
    text-decoration: none;
}
#kpFooter .row {
    padding-bottom: 10px;
}
#kpFooter .navbar {
    background: 0;
    border: 0;
}
#kpFooter .icon-bar {
    background: white;
}
#kpFooter button {
    background: rgba(206, 105, 73, 1);
    position: fixed;
    right: 0;
    bottom: 0;
    border: 0;
}
#kpFooter button>i {
    margin: 10px;
    color: white;
}
#kpFooter button:focus,
#kpFooter button:hover {
    background: rgba(186, 85, 53, 0.5);
}
#kpFooter td {
    border: 0;
    padding-bottom: 3px;
    padding-right: 10px;
}
@media only screen and (max-width: 2000px) {
    #kpFooter .navbar-header {
        float: none;
    }
    #kpFooter .navbar-left,
    #kpFooter .navbar-right {
        float: none !important;
    }
    #kpFooter .navbar-toggle {
        display: block;
    }
    #kpFooter .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    #kpFooter .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    #kpFooter .navbar-collapse.collapse {
        display: none!important;
    }
    #kpFooter .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    #kpFooter .navbar-nav>li {
        float: none;
    }
    #kpFooter .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #kpFooter .collapse.in{
        display:block !important;
    }
}


