#kpFooter * {
    border: 0;
    box-shadow: unset;
}
#kpFooter .container-fullwidth {
    margin: $footerMargin;
}
#kpFooter .navbar-inverse .navbar-collapse {
    background: $darkBackgroundDark;
    border-radius: $footerBorderRadius;
    overflow-x: hidden;
    margin: 0;
    max-height: 100%;
    padding: $footerPadding;
}
#kpFooter {
    color: $textColor;
    text-shadow: $textShadow;
}
#kpFooter a {
    color: $textColor;
}
#kpFooter a:hover,
#kpFooter a:focus {
    color: $linkHoverColor;
    text-decoration: none;
}
#kpFooter .row {
    padding-bottom: $footerPadding;
}
#kpFooter .navbar {
    background: 0;
    border: 0;
}
#kpFooter .icon-bar {
    background: $textColor;
}
#kpFooter button {
    background: $buttonColor;
    border: 0;
    bottom: $buttonPositionNum;
    position: $buttonPosition;
    right: $buttonPositionNum;
}
#kpFooter button>i {
    color: $textColor;
    padding: $buttonMargin;
    padding-left: $smallButtonPadding;
    padding-right: $smallButtonPadding;
}
#kpFooter button:focus,
#kpFooter button:hover {
    background: $linkHoverColor;
}
#kpFooter td {
    border: 0;
    padding-bottom: $tdSpacing;
    padding-right: $footerPadding;
}




/*
 |---------------------------------
 | Keep footer collapsed to button
 |---------------------------------
 */
@media only screen and (max-width: 2000px) {
    #kpFooter .navbar-header {
        float: none;
    }
    #kpFooter .navbar-left,
    #kpFooter .navbar-right {
        float: none !important;
    }
    #kpFooter .navbar-toggle {
        display: block;
    }
    #kpFooter .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: $boxShadow;
    }
    #kpFooter .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    #kpFooter .navbar-collapse.collapse {
        display: none!important;
    }
    #kpFooter .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    #kpFooter .navbar-nav>li {
        float: none;
    }
    #kpFooter .navbar-nav>li>a {
        padding-top: $footerPadding;
        padding-bottom: $footerPadding;
    }
    #kpFooter .collapse.in{
        display:block !important;
    }
}
/*
 |---------------------------------------
 | Make it look nice while doing that :)
 |---------------------------------------
 */
@media only screen and (max-width:767px) {
    #kpFooter #contactHours,
    #kpFooter #copyright {
       margin-top: 20px;
    }
} @media only screen and (min-width:768px) {
    #kpFooter #kpFooterContainer .col-sm-4 {
        width: 30.33333333%;
    }
} @media only screen and (max-width:780px) {
    #kpFooter .container-fullwidth {
        margin: 0 70px 0 10px;
    }
}


