/*
 |------
 | PAGE
 |------
 */
html {
    height: 100%;
    width: 100%;
}
body {
    background: $background;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font;
}




/*
 |---------------
 | BROWSER FIXES
 |---------------
 */

// -- Remove select box outline in firefox -- //
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

// -- Remove standard dropdown arrow. TODO: show the right arrow -- //
select {
    -moz-appearance: none;
    /*
    text-indent: 0.01px;
    text-overflow: '';
    */
}

// -- Set input-placeholder color to textcolor -- //
::-webkit-input-placeholder {
    color: $textColor;
}
:-moz-placeholder {
    color: $textColor;
    opacity: 1;
}
::-moz-placeholder {
    color: $textColor;
    opacity: 1;
}
:-ms-input-placeholder {
    color: $textColor;
}
::-ms-input-placeholder {
    color: $textColor;
}

