#homeMain {
    min-height: 100%;
}
#jumboHome {
    background: 0;
    display: table;
    height: 100%;
    position: absolute;
    width: 100%;
}
#homeContent {
    color: $textColor;
    display: table-cell;
    font-size: 2rem;
    padding: 0.5%;
    text-shadow: $textShadow;
    vertical-align: middle;
}
#homeContent h1 {
    font-weight: 700;
    padding-bottom: 2%;
}
#homeText {
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%;
    width: 500px;
}


@media only screen and (max-width:780px) {
    #homeText {
        margin-top: -55px;
        width: 100%;
    }
    #jumboHome .break {
        display: none;
    }
}


