#legalMain {
    background: $darkBackgroundMedium;
    color: $textColor;
    font-size: 1.2em;
    margin-bottom: 40px;
    padding: 20px;
    text-shadow: $textShadow;
}
#legalMain h1 {
    font-weight: 700;
    padding-bottom: $titlePadding;
}
#legalMain h2 {
    padding-bottom: $titlePadding;
    padding-top: $titlePadding;
}
#legalMain a {
    color: $buttonColor;
}
#legalMain .active a,
#legalMain a:hover {
    color: $linkHoverColor;
    text-decoration: none;
}

