/* NAVBAR
 *********/
#homeBar *{
    border: 0;
    box-shadow: unset;
}
#homeBar,
.dropdown-menu,
.dropdown * {
    background: 0;
    border: 0;
    color: $textColor;
    text-shadow: $textShadow;
}
#homeBar a {
    color: $textColor;
    text-shadow: $textShadow;
}
#homeBar .active a,
#homeBar a:hover {
    color: $linkHoverColor;
}
#homeBar .navbar-brand{
    margin-top: $topMargin;
    padding-left: $brandPaddingLeft;
}
#homeBar .navbar-right{
    margin-top: $topMargin;
}
#homeBar .logo img {
    border-bottom-right-radius: $imgRadius;
    height: $imgSize;
    left: $buttonPositionNum;
    position: $buttonPosition;
    top: $buttonPositionNum;
    width: $imgSize;
}
#homeBar .icon-bar {
    background: $textColor;
}
#homeBar button {
    background: $buttonColor;
    position: $buttonPosition;
    right: $buttonPositionNum;
    top: $buttonPositionNum;
}
#homeBar button>i {
    color: $textColor;
    margin: $buttonMargin;
}
#homeBar button:focus,
#homeBar button:hover {
    background: $linkHoverColor;
}

@media (max-width: 768px) {
    #home > a {
        margin-top: 50px;
    }
}