/*
 |----------------
 | FILTER BUTTONS
 |----------------
 */
#cvButtons {
    background: 0;
    border: 0;
}
#cvButtons .filter-button {
    background: $buttonColor;
    border: 0;
    color: $textColor;
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
    width: 160px;
}
#cvButtons button:hover,
#cvButtons button.selected {
    background: $linkHoverColor;
    outline: 0;
}
@media only screen and (max-width:991px) {
    #cvButtons .break {
        display: none;
    }
}




/*
 |---------------
 | SKILL BUTTONS
 |---------------
 */
#cvSkills button {
    background: $buttonColor;
    border: 0;
    color: $textColor;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    text-shadow: textShadow;
}
#cvSkills button:hover,
#cvSkills button.selected {
    background: $linkHoverColor;
    cursor: initial;
    outline: 0;
}



